<section class="new-arrivals">
    <div class="tituloNA">
        <h6 >NEW ARRIVALS</h6>
    </div>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/newArrivals1.jpg"></a>
        <p>Buzo | HOMBRE</p>
    </article>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/newArrivals2.jpg"></a>
        <p>Remera | HOMBRE</p>
    </article>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/newArrivals3.jpg"></a>
        <p>Campera | MUJER</p>
    </article>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/newArrivals4.jpg"></a>
        <p>Jean | MUJER</p>
    </article>
</section>