<section class="new-arrivals">
    <div class="new-arrivals-title">
        <h6 >NEW <br>  ARRIVALS</h6>
    </div>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/products/newArrivals1.jpg"></a>
        <p>Buzo | HOMBRE</p>
    </article>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/products/newArrivals2.jpg"></a>
        <p>Remera | HOMBRE</p>
    </article>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/products/newArrivals3.jpg"></a>
        <p>Campera | MUJER</p>
    </article>
    <article class="producto">
        <a href="#"><img class="foto-producto" src="/images/products/newArrivals4.jpg"></a>
        <p>Jean | MUJER</p>
    </article>
</section>