<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7c28aaf964.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iconic</title>
</head>
<body>
        <header class="main-header">
            <div class="burger-menu"><i class="fas fa-bars"></i></div>
            <div class="logo"><img  src="/images/logo.png"></div>
            <div class="lupa"><i class="fas fa-search"></i></div>
            <a class="carrito-compras" href='#'><i class="fas fa-shopping-cart"></i></a>
            <div class="barra-herramientas">
                <ul class="navbar">
                    <li> <a href='#'> Productos</a></li>
                    <li><a href='#'>Galería</a></li> 
                    <li><a href='#'>FW 2022</a></li> 
                    <li><a href='#'>Nosotros</a></li> 
                    <li><a href='#'>Ayuda</a></li> 
            
                </ul>
            </div>
            
           


        </header>
        <main>
            <section class="slider">   
                <img src="/images/slider2.png"> 
            </section>
            <section class="new-arrivals">
                <div class="tituloNA"><h6>New arrivals </h6><i class="fas fa-star"></i></div>
                <article class="producto">
                    <img class="foto-producto" src="/images/newArrivals1.jpg">
                    <p>Buzo | HOMBRE</p>
                </article>
                <article class="producto">
                    <img class="foto-producto" src="/images/newArrivals2.jpg">
                    <p>Remera | HOMBRE</p>
                </article>
                <article class="producto">
                    <img class="foto-producto" src="/images/newArrivals3.jpg">
                    <p>Campera | MUJER</p>
                </article>
                <article class="producto">
                    <img class="foto-producto" src="/images/newArrivals4.jpg">
                    <p>Jean | MUJER</p>
                </article>
            </section>
            <section class="vender">
                <div><h6>Vendé tu marca</h6><i class="far fa-lightbulb"></i></div>
            </section>
        </main>
        <footer>
            <section class="footer-mobile">
                <ul class="links">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Política de devoluciones</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
                <div class="redes-sociales"> 
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-youtube"></i>
            </div>
            </section>
        </footer>
</body>
</html>