<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7c28aaf964.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iconic</title>
</head>
<body>
    <header class="main-header">
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
        <div class="logo"><img  src="/images/logo.png"></div>
        <div class="lupa"><i class="fas fa-search"></i></div>
        <a class="carrito-compras" href='#'><i class="fas fa-shopping-cart"></i></a>
        <div class="barra-herramientas">
            <ul class="navbar">
                <li> <a href='#'> Productos</a></li>
                <li><a href='#'>Galería</a></li> 
                <li><a href='#'>FW 2022</a></li> 
                <li><a href='#'>Nosotros</a></li> 
                <li><a href='#'>Ayuda</a></li> 
        
            </ul>
        </div>
    </header>
    <main>
        <form action="/login" method="get">
            <form class="formulario" action="/login" method="post">
                <label for="nombreUsuario">Nombre de usuario:</label>
                    <input class="input" type="text" id="nombreUsuario" name="usuario" required minlength=6>
                <label for="contraseña">Contraseña:</label>
                    <input class="input" type="password" id="contraseña" name="contraseña">
                <button class="enviar" type="submit" ><a href="/"><p>Enviar</p></a></button>
        </form>

    </main>
    <footer>
        <section class="footer-mobile">
            <ul class="links">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Política de devoluciones</a></li>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
            <div class="redes-sociales"> 
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-youtube"></i>
        </div>
        </section>
    </footer>
</body>
</html>