<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Home'})  %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <main class="home-main">
                    <div class="slider-container-769">
                        
                       <div class="slider" id="slider" >
                            <div class="slider-section" >
                                <img class="slider-img" src="/images/products/slider1.webp" alt="">
                            </div>
                            <div class="slider-section" >
                                <img class="slider-img" src="/images/products/slider2.webp" alt=""> 
                            </div>
                            <div class="slider-section" >
                                <img class="slider-img" src="/images/products/slider3.webp" alt=""> 
                            </div>
                            <div class="slider-section" >
                                <img class="slider-img" src="/images/products/slider4.jpeg" alt=""> 
                            </div>
                       </div>

                       <div class="slider-button" class="slider-button-right"><i class="fas fa-angle-double-right"></i></div>
                       <div class="slider-button" class="slider-button-left"><i class="fas fa-angle-double-left"></i></div>
                    
                    </div>
                
                <div class="banner-home">
                    <img src="/images/banner-home.webp" alt="">
                </div>
                <%- include('./partials/newArrivals') %>
                <section class="vender">
                    <div>
                        <h6>Vendé tu marca</h6><i class="far fa-lightbulb"></i>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>