<footer>
    <section class="footer">
        <ul class="links">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Política de devoluciones</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Nosotros</a></li>
        </ul>
        <div class="redes-sociales">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <p>Copyright © 2022. Todos los derechos reservados. Iconic S.R.L.</p>
        </div>
    </section>
</footer>