/*
Colores: 
        #E5080 Rojo
        #7A7474 Gris Oscuro
        #FFFFFF Blanco
        #000000 Negro
        #ADA1A1 Gris claro
        #1269D Azul (destacados y promos)
        #FF5B1 Naranja (destacados y promos)


Tipografias:

Roboto: https://fonts.google.com/specimen/Roboto

Helvética: https://es.wikipedia.org/wiki/Helv%C3%A9tica

Futura: https://es.wikipedia.org/wiki/Futura

*/