<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Detalle de Producto'}) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="slider slider-Detail">
                    <img src="/images/products/slider2.png" class="img-productDetail">
                    <div class="box-info">
                        <div class="price-desc">
                            <h3>Chaqueta Jean</h3>
                            <h4>$3.990</h4>
                        </div>
                        <form action="/comprar-producto" method="POST" class="buy-form">
                            <div class="qty-size">
                                <div class="field-qty">
                                    <label for="qty">
                                        <span>Cantidad</span>
                                    </label>
                                    <input type="number" name="quantity" min="0" value="1" title="cantidad"
                                        class="input-qty" id="qty">
                                </div>
                                <div class="tallas">
                                    <label>Talla</label for="tallas">
                                    <!-- texto que acompana la informacion del formulario-->
                                    <select name="categoria" class="opciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            </div>
                            <button class="boton-comprar">
                                <p>Agregar a la bolsa</p>
                            </button>

                        </form>
                    </div>
                    <!--

            <div class="info-envio">
                <div class="envio-gratis">
                    <img src="/images/envio-gratis.svg">
                    <span>Al comprar <br> esta prenda</span>
                </div>
                <div class="cambio-gratis">
                    <img src="/images/cambio-gratis.svg">
                    <span>Cambios <br> Gratis</span>
                </div>
                <div class="pago-efectivo">
                    <img src="/images/pago-efectivo.svg">
                    <span>Pago en <br> efectivo</span>
                </div>
            </div>-->
                </section>
                <%- include('./partials/newArrivals') %>
                <section class="vender">
                    <div>
                        <h6>Vendé tu marca</h6><i class="far fa-lightbulb"></i>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>