<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Listado de Productos'})  %>

    <body>
        <%- include('./partials/header') %>
            
            <%- include('./partials/footer') %>
    </body>

</html>