<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Error 404'}) %>

    <body>
        <%- include('./partials/header') %>
            <main class="error-main">
                <div class="error-404-img">
                    <img src="/images/404-error.jpeg" alt="error-404">
                </div>
                <div class="error-404">
                    <h2>Ups! Ocurrió un error</h2>
                </div>

            </main>
            <%- include('./partials/footer') %>
    </body>

</html>