<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="">
        <div>
            <label>Nombre del producto:</label>
            <input type="text" name="nombreProducto">
        </div>
        <div>
            <textarea> </textarea>
        </div>
        <div>
            <input type="file"
            name="imagen"
            accept=".jpg, .png">
        </div>
        <div>
            <label>Categoria:</label>
            <input type="text" name="categoria">
        </div>
        <div>
            <label>Talles:</label>
            <input type="text" name="talles">
        </div>
        <div>
            <label>Precio:</label>
            <input type="number" name="precio">
        </div>
    </form>
</body>
</html>