<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7c28aaf964.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iconic</title>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="top-bar">
                <div class="burger-menu"><i class="fas fa-bars"></i></div>
                <div class="logo"><a href="./"><img src="/images/logo.png" alt="Iconic"></a></div>
                <div class="search">
                    <form action="/" method="get" class ="search-form">   
                        <label for="search"></label>  
                        <input type="search" id="search" placeholder="Buscar por categorías, productos..." name="busqueda">
                        <button class="boton-buscar" type="submit"><i class="fas fa-search" ></i></button>
                    </form> 
                </div> 
                <div class="search-buttom"> <a href="#"><i class="fas fa-search"></i></a> </div>   
                <div class="login-icon"><a href="/login"><i class="far fa-user" title="Login"></i></a></div>
                <a class="carrito-compras" href='shoppingCart'><i class="fas fa-shopping-cart" title="Carrito"></i></a>
            </div>
            <div class="barra-herramientas">
                <ul class="navbar">
                    <li> <a href='#'>Categorías</a></li>
                    <li><a href='#'>Galería</a></li> 
                    <li><a href='#'>FW 2022</a></li> 
                    <li><a href='#'>Nosotros</a></li> 
                    <li><a href='#'>Ayuda</a></li> 
            
                </ul>
            </div>
        </div>
        </header>
        <main>
            <section class="slider">   
                <img src="/images/slider2.png"> 
            </section>
            <section class="new-arrivals">
                <div class="tituloNA"><h6>NEW ARRIVALS</h6></div>
                <article class="producto">
                    <a href="#"><img class="foto-producto" src="/images/newArrivals1.jpg"></a>
                    <p>Buzo | HOMBRE</p>
                </article>
                <article class="producto">
                    <a href="#"><img class="foto-producto" src="/images/newArrivals2.jpg"></a>
                    <p>Remera | HOMBRE</p>
                </article>
                <article class="producto">
                    <a href="#"><img class="foto-producto" src="/images/newArrivals3.jpg"></a>
                    <p>Campera | MUJER</p>
                </article>
                <article class="producto">
                    <a href="#"><img class="foto-producto" src="/images/newArrivals4.jpg"></a>
                    <p>Jean | MUJER</p>
                </article>
            </section>
            <section class="vender">
                <div><h6>Vendé tu marca</h6><i class="far fa-lightbulb"></i></div>
            </section>
        </main>
        <footer>
            <section class="footer-mobile">
                <ul class="links">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Política de devoluciones</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
                <div class="redes-sociales"> 
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            </section>
        </footer>
</body>
</html>