<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>

                <form class="formulario" action="/login" method="get">
                    <label for="nombreUsuario">Nombre de usuario:</label>
                    <input class="input-text" type="text" id="nombreUsuario" name="usuario" required minlength=6>
                    <label for="contrase単a">Contrase単a:</label>
                    <input class="input-text" type="password" id="contrase単a" name="contrase単a">
                    <button class="boton-ingresar" type="submit"><a href="/">
                            <p>Enviar</p>
                        </a></button>
                </form>

            </main>
            <%- include('./partials/footer') %>
    </body>

</html>